@use 'variables' as *;
@use './mixins' as *;
@use './typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:'Avenir';
  margin: 0;

}

a {
  color: white;
  text-decoration: none;
}