.adventure {
    &__img {
    width: 100%;
    height: auto; 
    }
    &__element {
    list-style: none;
    margin: 1rem 0;
    display: flex;
    }
    &__list {
    display: flex;
    gap: 2rem;
    color: white;
    }
    &__text-overlay {
    color: white;
    position: absolute;
    bottom: 3rem;
    }
    &__name {
    margin-left: 1rem;
    }
    &__line {
    text-wrap: wrap;
    padding-left: 1rem;
    }
    &__selection {
    position: relative;
    }
}
